body{
    margin: 0;
}
.container{
    width: 90%;
    /* background-color: darkred; */
    margin: auto;
    margin-top: 50px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 29px;
    transition: 0.5 ease;
}
.main{
    width: 100%;
    /* background-color: brown; */
}